<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
  <!-- Issue #2  solution below -->
    <add name="myDatabaseCSprod" connectionString="Data Source=myprodServer;Initial Catalog=prod-TargetDB;user id=myID;password=myPWD" providerName="System.Data.prodSqlClient" />
    <add name="myDatabaseCSDev" connectionString="Data Source=myDevServer;Initial Catalog=Dev-TargetDB;user id=myID;password=myPWD" providerName="System.Data.DevSqlClient" />
    <add name="myDatabaseCSStage" connectionString="Data Source=myStageServer;Initial Catalog=Stage-TargetDB;user id=myID;password=myPWD" providerName="System.StageData.SqlClient" />

  </connectionStrings>
  <appSettings>
  <!-- Issue #3 solution below (I am not sure about this part, if this doesn't work perhaps seperate web.config?-->
    <add key="prodURL" value="https://www.myprod.com/site" />
    <add key="DevURL" value="https://Dev.mytargetsite.com/secure" />
    <add key="StageURL" value="https://Stage.mysource.com/secure" />
  </appSettings>
</configuration>

<!-- Issue #1 command

 three different syntax types for Set-ASApplication according to documentation

a) Set-ASApplication [-SiteName] <String> [[-VirtualPath] <String>] -AutoStartMode <All | Custom | Disable> [-Confirm] [-EnableApplicationPool] [-Force] [-WhatIf] [<CommonParameters>]

b) Set-ASApplication [-Uri] <Uri> -AutoStartMode <All | Custom | Disable> [-Confirm] [-EnableApplicationPool] [-Force] [-WhatIf] [<CommonParameters>]

c) Set-ASApplication -ApplicationObject <ApplicationInfo> -AutoStartMode <All | Custom | Disable> [-Confirm] [-EnableApplicationPool] [-Force] [-WhatIf] [<CommonParameters>]
-->