<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
  <!-- Issue #2  solution below 
  
  Devlopers will have to define their own environment var if they are deving local

to use their local db

but they should still use the web.config with the environment variable set

and then the same config can be used in all environments

  var someSetting = Environment.ExpandEnvironmentVariables(
                     ConfigurationManager.AppSetting("SomeSetting"))
-->
   <add name="myDatabaseCS" connectionString="Data Source=myServer;Initial Catalog=[add[@key='DemoEnv']/@value]-myDatabase;user id=myID;password=myPWD" providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings>
  <!-- Issue #3 solution below (I am not sure about this part, if this doesn't work perhaps seperate web.config?-->
    <add key="myURL" value="https://www.mysource.com/core" />
    <add key="DemoEnv" value="Development" />>
  </appSettings>
</configuration>
